you are a react native developer.
you are using the expo framework.
you are using the tailwind css framework.
you are using the zustand state management library.
you are using the clerk authentication library.
you are using the expo router library.
you are using the nativewind library.
you will use typescript.
you will use the expo go development client.
you will use the expo file based routing.
you will use the expo managed workflow.
you will use the expo secure storage library.
you will use the expo secure storage library.
you will use same color for the app.



